In [8]:
import pandas as pd
import numpy as np

In [50]:
compas = pd.read_csv("compas-scores-two-years.csv")

In [51]:
colremove = ['id', 'name', 'first', 'last', 'compas_screening_date','dob','age_cat',
             'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas','r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out','vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment','screening_date',
       'v_type_of_assessment','v_screening_date', 'in_custody', 'out_custody','start', 'end', 'event',
       'c_charge_degree', 'c_charge_desc', "priors_count.1", "violent_recid"]
compas2 = compas.drop(colremove, axis =1)

In [52]:

pd.set_option('display.max_columns', None)

In [53]:
compas2.head()

,sex,age,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,is_recid,is_violent_recid,decile_score.1,score_text,v_decile_score,v_score_text,two_year_recid
0,Male,69,Other,0,1,0,0,0,0,0,1,Low,1,Low,0
1,Male,34,African-American,0,3,0,0,0,1,1,3,Low,1,Low,1
2,Male,24,African-American,0,4,0,1,4,1,0,4,Low,3,Low,1
3,Male,23,African-American,0,8,1,0,1,0,0,8,High,6,Medium,0
4,Male,43,Other,0,1,0,0,2,0,0,1,Low,1,Low,0

In [54]:
score_text = compas2[["score_text", "v_score_text"]]

In [55]:
compas2 = compas2.drop(["score_text", "v_score_text"], axis = 1)

In [56]:
compasml = pd.get_dummies(compas2)

In [57]:
numerical_data = compasml.select_dtypes(np.number)
numerical_data = numerical_data.drop(["is_recid", "is_violent_recid"], axis = 1)

In [58]:
numerical_data.head()

,age,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,decile_score.1,v_decile_score,two_year_recid,sex_Female,sex_Male,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other
0,69,0,1,0,0,0,1,1,0,0,1,0,0,0,0,0,1
1,34,0,3,0,0,0,3,1,1,0,1,1,0,0,0,0,0
2,24,0,4,0,1,4,4,3,1,0,1,1,0,0,0,0,0
3,23,0,8,1,0,1,8,6,0,0,1,1,0,0,0,0,0
4,43,0,1,0,0,2,1,1,0,0,1,0,0,0,0,0,1

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [32]:
target_variable = "two_year_recid"
independent_variables = numerical_data.drop(columns="two_year_recid").columns

X = numerical_data[independent_variables]  # numpy array
y = numerical_data[target_variable]                 # numpy array
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [34]:
model = LogisticRegression()
model.fit(X=X_train, y=y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:939: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html.
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
predictions = model.predict(X_test)
true_classes = y_test
predictions_probabilities = model.predict_proba(X_test)

In [64]:
from sklearn import metrics

In [65]:
from sklearn.metrics import confusion_matrix
confusion_matrix(true_classes, predictions)

array([[632, 199],
       [268, 344]])

In [66]:
from sklearn import metrics
metrics.accuracy_score(true_classes, predictions)

0.6763686763686764

In [67]:
probs_df = pd.DataFrame(predictions_probabilities)
probs_df = round(probs_df, 2)
probs_df.head()

      0     1
0  0.27  0.73
1  0.64  0.36
2  0.46  0.54
3  0.62  0.38
4  0.82  0.18

In [69]:
X = X_test.reset_index().copy()
X["target"] = y_test.tolist()
X["prediction"] = predictions
X.head(20)

,index,age,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,decile_score.1,v_decile_score,sex_Female,sex_Male,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,target,prediction
0,1007,28,0,9,0,0,6,9,6,0,1,1,0,0,0,0,0,1,1
1,2151,38,0,4,0,0,3,4,1,0,1,0,0,0,1,0,0,0,0
2,2868,25,0,6,0,0,1,6,3,0,1,0,0,1,0,0,0,0,1
3,4771,28,0,3,0,0,1,3,3,0,1,1,0,0,0,0,0,1,0
4,1551,48,0,1,0,0,1,1,1,0,1,0,0,0,1,0,0,1,0
5,4350,32,0,1,0,1,0,1,1,1,0,0,0,1,0,0,0,0,0
6,450,45,0,2,0,0,16,2,1,0,1,1,0,0,0,0,0,0,1
7,6697,31,0,8,0,0,9,8,5,0,1,1,0,0,0,0,0,1,1
8,4682,56,0,1,0,0,1,1,1,0,1,0,0,1,0,0,0,0,0
9,1181,30,0,1,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0
10,311,43,0,2,0,0,2,2,1,0,1,0,0,0,0,0,1,1,0
11,3276,29,0,1,0,0,0,1,2,0,1,0,0,1,0,0,0,0,0
12,1808,27,0,7,0,0,3,7,4,1,0,0,0,1,0,0,0,1,1
13,5426,44,0,3,0,0,0,3,3,0,1,1,0,0,0,0,0,0,0
14,3795,25,0,3,0,0,0,3,3,1,0,0,0,1,0,0,0,0,0
15,1629,37,0,5,0,0,8,5,1,0,1,1,0,0,0,0,0,1,1
16,503,66,0,6,0,0,33,6,2,0,1,1,0,0,0,0,0,1,1
17,7056,22,0,2,0,0,0,2,4,0,1,0,0,0,1,0,0,1,0
18,5113,28,0,5,0,0,2,5,7,0,1,1,0,0,0,0,0,0,1
19,1522,56,0,1,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0